<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head'); %>
  <title>Roid</title>
</head>

<body>
  <%- include('../components/header'); %>
  <div class="main-ctn">
    <div class="main">
      <section class="gender-selection">
        <a class="img-genders" href="/Roid/mode-homme">
          <div class="gender-mode" id="homme-img-selection">
            <p>MODE HOMME</p>
          </div>
        </a>
        <a class="img-genders" href="/Roid/mode-femme">
          <div class="gender-mode" id="femme-img-selection">
            <p>MODE FEMME</p>
          </div>
        </a>
      </section>
    </div>
    <%- include('../components/nav-bar-slider'); %>
    <%- include('../components/logSlide', {dataUser} ); %>
    <%- include('../components/panierSlide'); %>
    <%- include('../components/favSlide'); %>
    <%- include('../components/searchSlide'); %>
  </div>
  <%- include('../components/footer'); %>
</body>

</html>